h1 {
  color: #6c2eb9;
  font-weight: normal;
  font-size: 40px;
  font-family: Arial;
  text-transform: uppercase;
}

info {
  padding-left: 2rem;
  background-image: url(star.svg);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

pf {
  float: left;
  background-color: #F6E3CA;
  margin-right: 10px;
  border: #D7C8B6 2px solid;
}

a {
  color: black;
  padding: 0 4px;
  text-decoration: none;
}

a:hover {
  background-color: white;
  color: #D7C8B6;
}
