h1 {
  color: #28B463;
  font-weight: normal;
  font-size: 40px;
  font-family: Optima;
}

p {
  text-align: left;
  font-style:italic; 
  line-height: 30pt;
            font-size: 20px;
            color: #222;
        }


ul {
  list-style-type: none;
}

li {
  float: left;
  background-color: #A3E4D7;
  margin-right: 10px;
   font-size: 25px;
  border: #138D75 2px solid;
}

a {
  color: black;
  padding: 0 4px;
  text-decoration: none;
}

a:hover {
  background-color: white;
  color: #298A08;
}
