ul {
  list-style-type: none;
}

li {
  float: left;
  background-color: #F6E3CA;
  margin-right: 10px;
  border: #D7C8B6 2px solid;
}

a {
  color: black;
  padding: 0 4px;
  text-decoration: none;
}

a:hover {
  background-color: white;
  color: #D7C8B6;
}
